fastapi
watchgod
qdrant-client
cohere
fastembed
uvicorn[standard]
websockets
python-dotenv
watchfiles
markdown
sqlalchemy
mysqlclient
uuid
pydantic[email,timezone]
pydantic-settings
sentry-sdk[fastapi]
arize-phoenix
litellm
openinference-semantic-conventions
openinference-instrumentation-litellm
arize-phoenix-otel
arize-phoenix-evals